.actu{
    background: url("ressources/actualites/haunted-by-daylight.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
}

.actualites
{
    color: white;
    padding-top: 0;
}

.main{
    padding-top: 60px;
}

header
{
    background-color: #1E1E1C;
    height: 60px;
}

#listHeader
{
    list-style-type: none;
    text-align: center;
}

#listHeader li {
    display: inline;
    padding: 50px;
    color: white;
    font-weight: 550;
    vertical-align: middle;
}

#listHeader a
{
    color: white;
    text-decoration: none;
}

#listHeader a:hover
{
    text-decoration: underline;
}

