header
{
    background-color: #1E1E1C;
    text-align: center;
}

#header
{
    list-style-type: none;
    width: 10px;
}

ul#header li {
    display: inline;
    padding: 50px;
    color: white;
    font-weight: 550;
}

a
{
    color: white;
    text-decoration: none;
}